.notif {
    border-radius: 1.5rem;
    height: fit-content;
    font-size: .9rem;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}
.notif .img {
    width: 40px !important;
}
.notif img {
    width: 40px !important;
    height: 40px !important;
}


.notif:hover {
    transform: scale(1.016);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
}