.note {
  width:95%;
  height: 320px;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
  /* background-color: rgba(221, 233, 176, 0.36); */
  display: grid;
  grid-template-rows: 0.8fr 0.8fr 0.2fr 2.7fr 0.5fr;
}
.note.max-width {
  max-width: 255px;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: fit-content;
  padding-top: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

.noteSubjectType {
  display: flex;
  flex-direction: column;
  font-size: small;
  font-weight: 600;
  max-width: 60%;
}

.noteSubjectType > div {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.noteDate {
  display: flex;
  font-size: xx-small;
  font-weight: 500;
  max-width: 40%;
  text-align: right;
  align-self: center;
}

.titleDivNote {
  display: flex;
  align-items: end;
  justify-content: space-between;
  height: fit-content;
  padding-right: 25px;
  padding-left: 25px;
}

.titleNote {
  /* display: flex; */
  font-size: larger;
  font-weight: 700;
  max-width: 82%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.editBtnNote {
  width: 30px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  max-width: 45%;
}

.editBtnNote::before {
  content: "";
  width: 200%;
  height: 200%;
  position: absolute;
  z-index: 1;
  transform: scale(0);
  transition: all 0.3s;
  filter: blur(10px);
}

.editBtnNote:hover::before {
  transform: scale(1);
}

.editBtnNote svg {
  height: 18px;
  fill: #262626;
  z-index: 3;
  transition: all 0.2s;
  transform-origin: bottom;
}

.editBtnNote:hover svg {
  padding-right: 0.1rem;
  transform: rotate(-15deg) translateX(5px);
}

.editBtnNote::after {
  content: "";
  width: 10px;
  height: 1.5px;
  position: absolute;
  bottom: 7px;
  left: -5px;
  background-color: #262626;
  z-index: 2;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-out;
}

.editBtnNote:hover::after {
  transform: scaleX(1);
  left: 0.5px;
  transform-origin: right;
}

.noteContent {
  padding-right: 25px;
  padding-left: 25px;
  font-size: medium;
  font-weight: 400;
  white-space: wrap;
  white-space-collapse: preserve;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  max-height: 146px;
}

.noteFooter {
  display: flex;
  height: 40px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  justify-content: flex-start;
  padding-left: 25px;
  padding-right: 25px;
  /* background-color: rgb(230, 235, 198); */
}

.noteSessionTime {
  display: flex;
  align-items: center;
  font-size: small;
  font-weight: 400;
}

.noteSessionTime i {
  margin-right: 5px;
}

.clockIcon {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clockIcon .hourHand {
  transform-origin: center;
  animation: rotate 100s linear infinite;
}

.clockIcon .minuteHand {
  transform-origin: center;
  animation: rotate 500s linear infinite;
}

@keyframes shake {
  0% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

.clockIcon:hover {
  transform: scale(1.1);
}

.clockIcon:hover line:first-of-type,
.clockIcon:hover line:last-of-type {
  animation: shake 0.8s ease-in-out infinite;
}

/* <Note
      subject="Developpement web"
      type="TP"
      date="12 Novembre 2024, Thursday"
      title="Web avec react js"
      content="Lorem Ipsum is simply dummy text of the printing and ever
Lorem Ipsum is simply dummy text of the printing and ever
Lorem Ipsum is simply dummy text of the printing and ever
Lorem Ipsum is simply dummy text of the printing and ever
Lorem Ipsum is simply dummy text of the printing and ever"
      sessionTime="08:00 - 09:30"
    /> */
