.task {
  padding: 10px;
  padding-right: 13px;
  display: grid;
  grid-template-rows: 0.4fr 1.6fr;
  /*width: 100%;*/
  max-width: 370px;
  /*height: 270px;*/
  height: 250px;
  /*margin: 10px;*/
  border-radius: 40px;
  background-color: rgba(233, 177, 176, 0.36);
}

.tasks-title {
  font-size: 1.7rem;
  justify-content: space-between;
  padding-top: 5px;
  padding-left: 22px;
  padding-right: 10px;
  font-weight: 600;
  height: 50px;
}

.emptyTasks {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emptyTasks svg {
  fill: #afafaf;
}

.emptyTasks div {
  margin-top: 10px;
  color: #a8a8a8;
  font-size: 20px;
}

div.row.d-flex.justify-content {
  /* width: 90%; */
  margin: 0;
  padding: 0 5px;
}

.custom {
  /* width: 100%; */
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Content {
  /*!*font-size: large;*!*/
  /*padding-left: 8px;*/
  width: 100%;
  overflow: hidden;
  scrollbar-width: none;
  -webkit-line-clamp: 1;
  white-space: nowrap;
  overflow-x: auto;
}

.containerCheck {
  padding: 0 10px;
  cursor: pointer;
}

.containerCheck input {
  display: none;
}

.containerCheck svg {
  overflow: visible;
}

.pathCheck {
  fill: rgb(245, 245, 245);
  stroke: #262626;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.pathCheckNew {
  fill: rgb(245, 245, 245);
  stroke: #a8a8a8;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.containerCheck input:checked ~ svg .pathCheck {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}

.inputNewTask {
  background-color: transparent;
  /*padding-left: 5px;*/
  width: 100%;
}

.inputNewTask:focus {
  outline: none;
}

.crossed {
  text-decoration: line-through;
  /* color: grey; */
}

.deleteTask {
  /* cursor: pointer; */
  padding :0 5px;
  /* display: flex; */
  width: 15%;
}

.Deletebutton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #737373;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.164);
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  gap: 2px;
}

/*.svgIconBin {*/
/*  width: 12px;*/
/*  transition-duration: 0.3s;*/
/*}*/

/*.svgIconBin path {*/
/*  fill: rgb(245, 245, 245);*/
/*}*/

/*.Deletebutton:hover {*/
/*  transition-duration: 0.3s;*/
/*  background-color: rgb(237, 161, 161);*/
/*  align-items: center;*/
/*  gap: 0;*/
/*}*/

/*.bin-top {*/
/*  transform-origin: bottom right;*/
/*}*/
/*.Deletebutton:hover .bin-top {*/
/*  transition-duration: 0.5s;*/
/*  transform: rotate(160deg);*/
/*}*/




.file-icon path {
  color: #443E3D;
}

.ressources-icon path {
  color: #443E3D;
}

.ressources-icon:hover path {
  color: #131111;
}

.file-delete-button {
  margin-right: 9px;
}