.mininavbar {
  display: flex;
  align-items: center;
  background-color: #d1c4d8;
  padding: 0.5rem 0;
  padding-left: 1rem;
  padding-right: 0.3rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  position: absolute;
  height: 63px;
  top: 20px;
  right: 10px;
  z-index: 1;
}

.Bellbutton,
.Logoutbutton {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  transition-duration: 0.3s;
  padding: 0.3rem;
}

.bellM,
.logoutt {
  width: 22px;
}

.bellM path,
.logoutt path {
  fill: #262626;
}

.Bellbutton:hover .bellM {
  animation: bellRing 0.9s both;
}

.Logoutbutton:hover .logoutt {
  animation: shake 0.5s ease forwards;
}
/* bell ringing animation keyframes*/
@keyframes bellRing {
  0% {
    transform: rotateZ(-15deg);
  }

  100% {
    transform: rotateZ(0deg);
  }

  15% {
    transform: rotateZ(15deg);
  }

  30% {
    transform: rotateZ(-15deg);
  }

  45% {
    transform: rotateZ(10deg);
  }

  60% {
    transform: rotateZ(-10deg);
  }

  75% {
    transform: rotateZ(2deg);
  }
}

/* logout button shake animation keyframes*/
@keyframes shake {
  0% {
    transform: translateX(-2px); /* Move left */
  }
  50% {
    transform: translateX(2px); /* Move right */
  }
  100% {
    transform: translateX(0); /* Back to the original position */
  }
}

.Bellbutton:active,
.Logoutbutton:active {
  transform: scale(0.8);
}

@media (max-width: 600px) {
  .mininavbar {
    top: 15px;
    right: 5px;
    height: 60px;
  }
}

@media (max-width: 400px) {
  .mininavbar {
    top: 10px;
    right: 5px;
    height: 55px;
  }
}
