.ressources-box {
    background-color: rgba(233, 177, 176, 0.17);
    width: 100%;
    max-width: 355px;
    /*min-width: 300px;*/
    border-radius: 40px;
}

.ressources-title {
    font-size: 1.7rem;
    justify-content: space-between;
    padding-top: 16px;
}

.ressources-file {
    font-size: 0.9rem;
    background-color: rgba(233, 177, 176, 0.4);
}

.ressources-content {
    margin-top: -22px;
}

.file-icon path {
    color: #443E3D;
}

.ressources-icon path {
    color: #443E3D;
}

.ressources-icon:hover path {
    color: #131111;
}

.file-delete-button {
    margin-right: 9px;
}


