.e-appointment {
    border-radius: 10px !important;
    background: #dff3de8f !important;
    color: rgba(0, 0, 0, 0.721) !important;
    font-size: 12px;
    font-weight: 500;
    width: 98% !important;
    height: 99%;
    cursor: pointer !important;
    border: none !important;
}

.e-appointment:focus {
    box-shadow: none !important;
}

.e-appointment:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);

}

.e-quick-popup-wrapper {
    border-radius: 20px;
}

.e-popup-header {
    border-radius: 20px 20px 0 0;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-header {
    background: #0D525D;
}

.e-schedule-dialog .e-dlg-header-content {
    border-radius: 20px;
}

.e-popup.e-popup-open.e-dialog {
    border-radius: 20px;
}

.e-schedule-dialog .e-footer-content {
    border-radius: 20px;
}

.green {
    padding: 10px;
    margin-left: -5%;
    background: #D8ECD6 !important;
    height: 100% !important;
    width: 105% !important;
}

.beige {
    background: #F5F5DC !important;
    padding: 10px;
    margin-left: -5%;
    width: 105% !important;

}

.blue {
    padding: 10px;
    background: #ADD8E6 !important;
    height: 100% !important;
    width: 105% !important;
    margin-left: -5%;

}

.e-add {
    display: none !important;
}

.form-select {
    margin: 20px 0px 10px 10%;
    width: fit-content;
    background-color: #fef7ef;
    border-radius: 10px;
    padding: 5px 30px 5px 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    border: none
}

.form-button {
    margin: 20px 0px 10px 10%;
    background-color: #fef7ef;
    padding: 5px 30px 5px 20px;
    height: 34px;
    border-radius: 10px;
    font-weight: 500;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);



}

.form-select select:focus {
    outline: none;
    box-shadow: none;
}

/* 
.e-schedule-dialog .e-dlg-header-content {
    border-radius: 20px !important;
}

.e-schedule-dialog .e-footer-content {
    margin-top: 4px;
    border-radius: 0px 0px 20px 20px !important;
} */

/* .e-schedule,
.e-schedule-toolbar,
.e-toolbar-items.e-tbar-pos,
.e-vertical-view,
.e-date-header-wrap,
table,
tbody,
td.e-header-cells,
.e-vertical-view,
.e-content-wrap,
table,
td {
    background-color: #D1C4D8 !important;
}

.e-schedule .e-schedule-toolbar .e-toolbar-items.e-tbar-pos {
    /* display: none; }*/