.sessions-box {
  background-color: #d1c4d8;
  width: 285px;
  height: 580px;
  margin-top: 127px;
  margin-right: 10px;
  float: right;
  border-radius: 45px 0 0 45px;
  padding-right: 15px;
}

.sessions-title {
  font-size: 35px;
  color: #242424;
  font-weight: 650;
  text-align: center;
  margin-left: 33px;
  margin-top: 15px;
}

.no-sessions {
  width: 50%;
  margin-left: 30%;
    margin-top: 45%;
}