.student-home-page {
    height: 100%;
    /*width: 100% !important;*/
}

.student-home-page .Welcoming {
    background-color: #FEF7EF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: fit-content;
    border-radius: 1.5em;
    height: fit-content;
}
.student-home-page .date {
    height: fit-content;
}
.some-courses {
    margin-top: 2.5rem;
}
.col-md-6.course-2 {
    display: none;
}
@media (max-width: 990px) {
    .course-2 {
        display: none !important;
    }
}
/*@media (min-width: 1370px) {*/
/*    .student-home-page .body {*/
/*        width: 70%;*/
/*    }*/
/*    .custom-col-1 {*/
/*        width: 75%;*/
/*    }*/
/*    .custom-col-2 {*/
/*        width: 25%;*/
/*    }*/
/*    .custom-col {*/
/*        width: 33% !important;*/
/*    }*/
/*}*/

/*@media (min-width: 1250px) and (max-width: 1369px) {*/
/*    .student-home-page .body {*/
/*        width: 65%;*/
/*    }*/
/*    .custom-col-1 {*/
/*        width: 70%;*/
/*    }*/
/*    .custom-col-2 {*/
/*        width: 30%;*/
/*    }*/
/*    .custom-col {*/
/*        width: 33% !important;*/
/*    }*/
/*}*/

/*@media (min-width: 1075px) and (max-width: 1249px) {*/
/*    .student-home-page .body {*/
/*        width: 62%;*/
/*    }*/
/*    .custom-col-1 {*/
/*        width: 60%;*/
/*    }*/
/*    .custom-col-2 {*/
/*        width: 40%;*/
/*    }*/
/*    .course-2 {*/
/*        display: none !important;*/
/*    }*/
/*    .custom-col {*/
/*        width: 50% !important;*/
/*    }*/
/*}*/

/*@media (max-width: 1074px) {*/
/*    .student-home-page .body {*/
/*        width: 59%;*/
/*    }*/
/*    .custom-col-1 {*/
/*        width: 100%;*/
/*    }*/
/*    .custom-col-2 {*/
/*        width: 100%;*/
/*    }*/
/*    #firstColumn {*/
/*        order: 2;*/
/*    }*/
/*    #secondColumn {*/
/*        order: 1;*/
/*    }*/
/*    .course-2, .course-1 {*/
/*        display: none !important;*/
/*    }*/
/*    .custom-col{*/
/*        width: 80% !important;*/
/*    }*/
/*}*/

/*@media (min-width: 1467px) {*/
/*    .student-home-page .body.smaller {*/
/*        width: 80% !important;*/
/*    }*/
/*}*/

/*@media (min-width: 1404px) and (max-width: 1467px) {*/
/*    .student-home-page .body.smaller {*/
/*        width: 75% !important;*/
/*    }*/
/*}*/

/*@media (min-width: 1281px) and (max-width: 1403px) {*/
/*    .student-home-page .body.smaller {*/
/*        width: 70% !important;*/
/*    }*/
/*}*/
/*@media (min-width: 1184px) and (max-width: 1280px) {*/
/*    .student-home-page .body.smaller {*/
/*        width: 75% !important;*/
/*    }*/
/*    .course-2 {*/
/*        display:flex !important;*/
/*    }*/
/*    .custom-col {*/
/*        width: 33% !important;*/
/*    }*/
/*}*/

/*@media (min-width: 1000px) and (max-width: 1184px) {*/
/*    .student-home-page .body.smaller {*/
/*        width: 75% !important;*/
/*    }*/
/*    .course-2 {*/
/*        display: none !important;*/
/*    }*/
/*    .custom-col {*/
/*        width: 50% !important;*/
/*    }*/
/*}*/

