.box-container {
    margin-left: 17px;
    width: 628px;
    background-color: #FDFDFD;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 0 10px;
    height: 55px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.send-input-chatbot textarea::placeholder {
    color: #bdbdbd;
    font-size: 14px;
}

.sendIconButton {
    transition: transform 0.2s;
    margin-top: 5px;
    margin-left: 60px;
}

.sendIconButton:hover {
    transform: scale(1.1);
}


.send-input-chatbot textarea {
    width: 98%;
    resize: none;
    border: 0;
    padding-left: 12px;
    outline: none;
    line-height: 1.5;
    height: 40px;
}
.add-image {
    margin-left: -10px;
}

.formatting .image-prompt{
    display: none;
}
