.dropdown-container {
    position: relative;
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: rgb(232, 187, 186);
    margin-left: -14px;
    margin-top: -7px;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
}

.dropdown-content button:hover {
    background-color: rgb(233, 177, 176);
    border-radius: 17px;
}
