@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

.layout-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.layout-content{
  width: 100%;
  background-color: #fff;
  margin-left: -50px;
  height: 100vh;
  padding: 20px 20px 20px 50px;
  border-radius: 45px;
}

.my-notes {
  background-color: #fef7ef;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: fit-content;
  border-radius: 1.5em;
}

.my-notes.more-margin {
  margin-top: 35px !important;
}
