.cta {

    text-decoration: none;
    font-size: 18px;
    transition: 1s;
    transform: skewX(-15deg);
    border: none;
}

.cta:focus {
    outline: none;
}

.cta .second {
    transition: 0.5s;
    margin-right: 0;
    margin-top: 3px;
}

.cta:hover  .second {
    transition: 0.5s;
    margin-right: 45px;
}

.span {
    transform: skewX(15deg)
}

.second {
    width: 20px;
    margin-left: 0;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #692e5f;
    }

    100% {
        fill: white;
    }
}